* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #F5F4F0;
}

#container {
   height: 3054px;
   width: 1120px;
  justify-content: center;
  align-items: center;
  margin: auto;
  
}

.p-head{

  color: #E1624F;
  font-weight: bold;
  font-size: 16px;
  margin-top: 40px;
  text-transform: uppercase;
  margin-bottom: 2px;
}

h1 {

  color: #1B1B1B;
  font-size: 36px;
  font-weight: bold;

}

h2 {

  color: #1B1B1B;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
}

h3 {

  color: #1B1B1B;
  font-size: 28px;
  font-weight: bold;
}

#busan-img {

  width: 100%;
  height: 660px ;
  border-radius: 28px;
  margin-top: 40px;

}

#description-busan {

  color: #333333;
  font-style: italic;
  font-size: 16px;  
  margin-top: 24px;

}

#container-img-busan{

  text-align: center;

}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

.paragraph {

  font-size: 16px;
  font-weight: 400;

}

#Templo-Haedong-Yonggungsa {

  width: 1120px;
  height: 350px;
  border-radius: 28px;
  margin-bottom: 20px;
  margin-top: 64px;
}

#list-bom-para {

  font-weight: bold;
  font-size: 16px;
}

